# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Build directories
/out/
/build/
/vcpkg_installed/
/.vs/

# Local configuration overrides
CMakeUserPresets.json